apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: ns_name
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
        project: phrases
    spec:
      containers:
      - name: backend
        image: backend:v2
        imagePullPolicy: Never
        resources:
          limits:
            memory: "128Mi"
          requests:
            memory: "64Mi"
            cpu: "5m"
        ports:
        - containerPort: 7070
        env:
        - name: FLASK_HOST
          value: "0.0.0.0"
        - name: FLASK_PORT
          value: "7070"
        - name: API_HOST
          value: "backend"
        - name: API_PORT
          value: "7070"
      topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app: backend
      restartPolicy: Always