apiVersion: core.oam.dev/v1beta1
kind: Application
metadata:
  name: backend
  namespace: phrases
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  components:
    - name: backend
      type: webservice
      properties:
        labels:
          app: backend
          project: phrases
        image: ghcr.io/adhatcher/random_phrase_api:cf2286f9553cc3292cf8edc74e3b4402ef82a921
        imagePullPolicy: IfNotPresent
        port: 7070
      traits:
        - type: env
          properties:
            env:
              - name: ENVIRONMENT
                value: production
              - name: FLASK_HOST
                value: "0.0.0.0"
              - name: FLASK_PORT
                value: "7070"
              - name: API_HOST
                value: "backend"
              - name: API_PORT
                value: "7070"
        - type: probe
          properties:
            readinessProbe:
              httpGet:
                path: /healthz
                port: 7070
              initialDelaySeconds: 5
              periodSeconds: 10
              timeoutSeconds: 2
              failureThreshold: 3
            livenessProbe:
              httpGet:
                path: /healthz
                port: 7070
              initialDelaySeconds: 15
              periodSeconds: 20
              timeoutSeconds: 2
              failureThreshold: 3
        - type: resource
          properties:
            limits:
              memory: "128Mi"
            requests:
              cpu: "8m"
              memory: "64Mi"
        - type: expose
          properties:
            type: ClusterIP
            matchLabels:
              app: backend
            ports:
              - name: http
                port: 7070
                protocol: TCP
        - type: httproute
          properties:
            routeName: backend
            hostname: backend.zeus
            path: /backend
            gateway:
              name: zeus-gw
              namespace: envoy-gateway-system
              sectionName: https
            service:
              name: backend
              port: 7070
        - type: hpa
          properties:
            targetAPIVersion: apps/v1
            targetkind: HorizontalPodAutoscaler
            max: 5
            min: 1
            cpu: 
              type: Utilization
              value: 80
            mem:
              type: Utilization
              value: 80
