apiVersion: core.oam.dev/v1beta1
kind: Application
metadata:
  name: backend
  namespace: phrases
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  components:
    - name: backend
      type: webservice
      properties:
        labels:
          app: backend
          project: phrases
        image: ghcr.io/adhatcher/random_phrase_api:39d94b450ef3649f7c4da0682cb80fda7c400e39
        imagePullPolicy: IfNotPresent
        port: 7070
        env:
          - name: ENVIRONMENT
            value: production
          - name: FLASK_HOST
            value: "0.0.0.0"
          - name: FLASK_PORT
            value: "7070"
          - name: API_HOST
            value: "backend"
          - name: API_PORT
            value: "7070"
      traits:
        - type: resource
          properties:
            limits:
              memory: "128Mi"
            requests:
              cpu: "5m"
              memory: "64Mi"
        - type: expose
          properties:
            type: ClusterIP
            matchLabels:
              app: backend
            ports:
              - name: http
                port: 7070
                protocol: TCP
        - type: httproute
          properties:
            routeName: backend
            hostname: phrases.local
            path: /backend
            gateway:
              name: gateway
              namespace: gateway
              sectionName: http
            service:
              name: backend
              port: 7070
    - name: backend-hpa
      type: k8s-objects
      properties:
        objects:
          - apiVersion: autoscaling/v2
            kind: HorizontalPodAutoscaler
            metadata:
              name: backend-hpa
              namespace: phrases
            spec:
              scaleTargetRef:
                apiVersion: apps/v1
                kind: Deployment
                name: backend
              minReplicas: 2
              maxReplicas: 4
              metrics:
                - type: Resource
                  resource:
                    name: cpu
                    target:
                      type: AverageValue
                      averageValue: 8m
                - type: Resource
                  resource:
                    name: memory
                    target:
                      type: AverageValue
                      averageValue: 100Mi
